@import "bootstrap/scss/bootstrap";

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .post {
    padding: 10px;

    .post-image {
      height: 300px;
      width: 100%;
      background-position: center;
      border-radius: 10px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;
    }
  }
}
